@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "gruvbox-dark-hard";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(27.68% 0 0);
    --color-base-200: oklch(24.08% 0.0049 219.67);
    --color-base-300: oklch(22.37% 0.0049 219.69);
    --color-base-content: oklch(89.41% 0.0566 89.24);
    --color-primary: oklch(64.5% 0.0939 145.27);
    --color-primary-content: oklch(98% 0.016 73.684);
    --color-secondary: oklch(59.73% 0.1105 352.22);
    --color-secondary-content: oklch(89.41% 0.0566 89.24);
    --color-accent: oklch(62.17% 0.1707 45.81);
    --color-accent-content: oklch(98% 0.018 155.826);
    --color-neutral: oklch(48.18% 0.0181 61.04);
    --color-neutral-content: oklch(89.41% 0.0566 89.24);
    --color-info: oklch(60% 0.126 221.723);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(65.64% 0.1354 109.12);
    --color-success-content: oklch(89.41% 0.0566 89.24);
    --color-warning: oklch(72.51% 0.1429 77.71);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(54.58% 0.203 28.66);
    --color-error-content: oklch(89.41% 0.0566 89.24);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "everforest-light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(95.22% 0.0306 98.86);
    --color-base-200: oklch(91.01% 0.0296 98.5);
    --color-base-300: oklch(90.46% 0.024 88.24);
    --color-base-content: oklch(51.54% 0.0212 232.87);
    --color-primary: oklch(65.35% 0.1208 163.88);
    --color-primary-content: oklch(39.68% 0.0661 165.21);
    --color-secondary: oklch(68.71% 0.1739 340.99);
    --color-secondary-content: oklch(46.39% 0.1053 340.44);
    --color-accent: oklch(71.47% 0.1729 50.75);
    --color-accent-content: oklch(49.43% 0.1097 52.35);
    --color-neutral: oklch(68.88% 0.0243 141.21);
    --color-neutral-content: oklch(36.38% 0.0129 145.3);
    --color-info: oklch(63.43% 0.1118 236.35);
    --color-info-content: oklch(42.48% 0.0674 235.17);
    --color-success: oklch(66.97% 0.156 118.23);
    --color-success-content: oklch(39.84% 0.0897 117.26);
    --color-warning: oklch(74.66% 0.1545 80.27);
    --color-warning-content: oklch(54.74% 0.1116 81.91);
    --color-error: oklch(67.07% 0.1996 25.2);
    --color-error-content: oklch(46.62% 0.125 24.45);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
